In [1]:
import pandas as pd
data = pd.read_csv('D:/read_large_csv/2019-Oct.csv', chunksize=10000)

In [2]:
import pandas as pd
t_len = 0
for chunk in data:
  t_len += len(chunk)
print(t_len)

42448764

In [3]:
import pandas as pd
from IPython.display import display
for chunk in data:
  print(chunk)
  break
chunk.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
42440000,2019-10-31 22:47:42 UTC,view,1005019,2053013555631882655,electronics.smartphone,nokia,94.73,562951051,fa734452-ee75-42d7-aa48-238f1351de20
42440001,2019-10-31 22:47:42 UTC,view,26016831,2053013562837697343,NaN,NaN,8.73,530309305,88e6ca0c-b4f8-4de8-8743-0cd79ba6c47a
42440002,2019-10-31 22:47:42 UTC,view,6701217,2053013554247762257,computers.components.videocards,asus,83.20,556959006,021ccbd2-4418-4d67-879b-43d868c03dd6
42440003,2019-10-31 22:47:42 UTC,view,7100187,2053013555464110485,furniture.bedroom.bed,NaN,141.57,566271391,bca8d946-4da9-480a-a71b-a2ea89049789
42440004,2019-10-31 22:47:43 UTC,view,1802076,2053013554415534427,electronics.video.tv,samsung,1544.18,516111655,850fa208-50d8-4064-a50a-dd3f9001bfd5

In [ ]:
import pandas as pd
import numpy as np
import time


s_time = time.time()

chunks = pd.read_csv('D:/read_large_csv/2019-Oct.csv', chunksize=10000)

df = pd.concat(chunks)
e_time = time.time()

print("Read with chunks: ", f"{e_time-s_time:.2f}", "seconds")

df.sample(1000)

Read with chunks:  240.78 seconds

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
20045211,2019-10-15 15:45:40 UTC,view,7901064,2053013556487520725,furniture.kitchen.chair,shenma,56.63,512514712,cd1917d9-89ad-429d-9530-ed44514688bf
318013,2019-10-01 07:50:33 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.70,522740237,3f86c74b-02ab-4e47-8195-142a5d7b4049
35136818,2019-10-26 07:24:34 UTC,view,1005123,2053013555631882655,electronics.smartphone,apple,1191.51,513068111,114f40f7-ebc0-420d-bbf4-e2e0bdae6a04
35502386,2019-10-26 12:40:08 UTC,view,3801134,2053013566176363511,appliances.iron,elenberg,16.71,529150209,baf160a0-daaa-4300-b0bb-e83991d3ee1d
14231239,2019-10-11 19:05:28 UTC,view,4804295,2053013554658804075,electronics.audio.headphone,xiaomi,23.03,559056810,57e0c70c-fd38-4166-aa70-6220486edeac
...,...,...,...,...,...,...,...,...,...
36842002,2019-10-27 12:26:06 UTC,view,1004965,2053013555631882655,electronics.smartphone,oppo,887.77,564629099,095a2d21-c0c9-4dc5-acb0-00a81e0f8691
7793810,2019-10-07 05:05:32 UTC,view,23100006,2053013561638126333,NaN,NaN,357.71,535883357,927c616d-c0c5-4b44-ace2-b34db4bf72c4
20038103,2019-10-15 15:41:52 UTC,view,1004751,2053013555631882655,electronics.smartphone,samsung,196.82,520961723,3bbc0a38-1a3e-4b27-8c7b-919f4cbda031
25268500,2019-10-19 07:55:07 UTC,view,8800773,2053013555573162395,electronics.telephone,nokia,73.34,561815959,82d8f0c4-c3b9-4d45-8402-f1187c858969
42017244,2019-10-31 14:56:19 UTC,view,1004750,2053013555631882655,electronics.smartphone,samsung,195.06,564236575,5af1e166-1a4d-4c36-a2ff-93a17d61e954

In [ ]:
pip install memory_profiler

In [2]:
%load_ext memory_profiler

In [ ]:
import pandas as pd
import tracemalloc

def measure_memory():
    tracemalloc.start()  
    
    
    chunks = pd.read_csv('D:/read_large_csv/2019-Oct.csv', chunksize=10000)
    for chunk in chunks:
        pass  

    peak_mem = tracemalloc.get_traced_memory()[1] / (1024 ** 2)
    tracemalloc.stop()  
    
    print(f"Peak memory used: {peak_mem:.2f} MB")

measure_memory()

Peak memory used: 5.17 MB